{% load static %}

<!DOCTYPE html>

{% autoescape off %}
<html lang="en" data-slug={{ slug }} data-currency={{ currency }}>
{% endautoescape %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | Localito</title>

    <!-- Bulma -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">

    <!-- Style -->
    <link rel="stylesheet" href='{% static "css/restaurant.css" %}'>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


</head>

<body>

    <!-- Header section -->
    <section class="hero is-primary has-text-centered is-small">
        <div class="hero-body ">
            <div class="container">

                {% if image %}
                    <img src={{ image }} alt="" class="restaurant-img mb-2">
                {% else %}
                    <img src={% static 'images/logo-restaurant-default.jpg' %} alt="" class="restaurant-img mb-3">
                {% endif %}

                <h1 class="title is-4">
                    {{ name }}
                </h1>

            </div>
        </div>
    </section>
    <!-- End Header section -->

    <div class="container has-text-centered py-4 ">
        <div class="columns is-mobile is-vcentered">
            <div class="column">
                <span class="icon is-medium">
                    <i class="fas fa-receipt"></i>
                </span>
                <span>
                    <h2 class="subtitle is-4">
                        Detalles de tu pedido
                    </h2>
                </span>
            </div>
        </div>
    </div>

    <!-- Delivery selection -->
    <div id="order-details" class="columns is-mobile is-variable is-1-mobile has-text-centered" data-order-id="{{ orderId }}">
        <div class="column">
            
            {% if delivery %}
            <a id="is-delivery" class="button is-small is-rounded is-success">
            {% else %}
            <a id="is-delivery" class="button is-small is-rounded">
            {% endif %}
                
                <span class="icon">
                    <i class="fas fa-motorcycle"></i>
                </span>
                <span>
                    Enviar a domicilio
                </span>
            </a>

        </div>

        <div class="column">

            {% if delivery %}
            <a id="is-pickup" class="button is-small is-rounded">
            {% else %}
            <a id="is-pickup" class="button is-small is-rounded is-success">
            {% endif %}

                <span class="icon">
                    <i class="fas fa-shopping-basket"></i>
                </span>
                <span>
                    Recoger en la tienda
                </span>
            </a>

        </div>

    </div>


    <section class="info is-medium is-fullheight">
        <div class="container">
            <div class="column is-10 is-offset-1">

                <div class="card">
                    <div class="card-content">
                    <!-- Table of items -->
                        <table class="table is-fullwidth">
                            <tbody>
                                {% autoescape off %}
                                {% for product, price in products.items %}
                                
                                    <tr>
                                        <td>{{ product }}</td>
                                        <td align="right">{{ currency }}{{ price }}</td>
                                    </tr>

                                {% endfor %}

                                
                                {% if delivery %}
                                <tr id='delivery-price'>
                                    <td>Envío a domicilio</td>
                                    <td align="right">{{ currency }}{{ delivery }}</td>
                                </tr>
                                
                                {% else %}

                                <tr id='delivery-price'>

                                </tr>

                                {% endif %}
                                    

                                <tfoot class="has-text-weight-bold">
                                    <td>Total</td>
                                    <td id="cart-total" align="right">{{ currency }}{{ total }}</td>
                                </tfoot>
                                {% endautoescape %}

                            </tbody>
                        </table>
                    <!-- End Table items  -->

                        <a href={% url 'checkout' slug orderId %} class="button is-fullwidth is-rounded is-success">
                            <span class="icon">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <span>Realizar pedido</span>
                        </a>
                        <a href="{% url 'restaurant' slug %}" class="button is-fullwidth is-rounded is-warning mt-4">
                            <span class="icon">
                                <i class="fas fa-undo-alt"></i>
                            </span>
                            <span>Volver a la tienda</span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- Localito watermark -->
    <section class="has-text-centered py-5">
        Powered by Localito
    </section>

    <!-- <script src="restaurant.js"></script> -->

</body>

<footer>

    <script>

        $(document).ready(function() {
            let orderId = $('#order-details').attr('data-order-id');
            let csrf_token = '{{ csrf_token }}';
            let currency = $('html').attr('data-currency');

            $('#is-delivery').click(function(e) {
                $.ajax({
                    url: '{% url "addDelivery" %}',
                    data : {
                        'orderId': orderId,
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    type: 'post',
                    success: function(response) {
                        $('#is-delivery').addClass('is-success');
                        $('#is-pickup').removeClass('is-success');
                        $('#delivery-price').html('<td>Envío a domicilio</td><td align="right">'+ currency + response.price +'</td>')
                        $('#cart-total').text(currency + response.total);
                    },
                });
            });
            
            $('#is-pickup').click(function(e){
                $.ajax({
                    url: '{% url "removeDelivery" %}',
                    data : {
                        'orderId': orderId,
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    type: 'post',
                    success: function(response) {
                        $('#is-pickup').addClass('is-success');
                        $('#is-delivery').removeClass('is-success');
                        $('#delivery-price').html('')
                        $('#cart-total').text(currency + response.total);
                    },
                });

            });

        });

    </script>

</footer>


</html>
