{% load static %}

<!DOCTYPE html>

{% autoescape off %}
<html lang="es-mx" data-slug={{ slug }} data-currency={{ currency }}>
{% endautoescape %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | Localito </title>

    <!-- Bulma -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">

    <!-- Style -->
    <link rel="stylesheet" href='{% static "css/restaurant.css" %}'>
    
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    

    <!-- Phone Input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js" integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Paypal -->
    <script src="https://www.paypal.com/sdk/js?client-id=AZUjiK_UGGkbn4giigU1e1VNKZsNJzE-ijIyrtoUVwhNeXnGzfrNSVwpUeDFTgNsWaqhOVPttbocBcrC&currency=MXN"></script>
</head>

<body>

    <!-- Header section -->
    <section class="hero is-primary has-text-centered is-small">
        <div class="hero-body ">
            <div class="container">
                <img src={{ image }} alt="" class="restaurant-img mb-3">
                <h1 class="title is-4">
                    {{ name }}
                </h1>         
            </div>
        </div>
    </section>
    <!-- End Header section -->

    <div class="container has-text-centered py-4 ">
        <div class="columns is-mobile is-vcentered">
            <div class="column">
                <span class="icon is-medium">
                    <i class="fas fa-user-check"></i>
                </span>
                <span>
                    <h2 class="subtitle is-4">
                        Completa tu información
                    </h2>
                </span>
            </div>
        </div>
    </div>

    <section id="orderInfo" class="info is-medium is-fullheight" data-orderId="{{ orderId }}">
        <div class="container">
            <div class="column is-10 is-offset-1">

                <div class="card">
                    <div class="card-content">

                        <form method=post>
                            {% csrf_token %}

                            {% for non_field_error in client_form.non_field_errors %}
                            <div class="notification is-danger">{{ non_field_error }}</div>
                            {% endfor %}

                            {% for non_field_error in order_notes_form.non_field_errors %}
                            <div class="notification is-danger">{{ non_field_error }}</div>
                            {% endfor %}

                            {% for field in client_form %}

                                {% if field.id_for_label == 'id_address' and order_is_delivery is not True %}

                                {% else %}
                                
                                <div class="field">
                                    <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                                    {{field}}
                                </div>
        
                                    {% if field.help_text %}
                                        <p class="help" style="padding-bottom: 5px">{{field.help_text}}</p>
                                    {% endif %} 
            
                                    {% for error in field.errors %}
                                        <p class="help is-danger" style="padding-bottom:5px">{{error}}</p>
                                    {% endfor %}
                                {% endif %}

                            {% endfor %}

                            {% for field in order_notes_form %}
                            <div class="field">
                                <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                                {{field}}
                            </div>
    
                                {% if field.help_text %}
                                    <p class="help" style="padding-bottom: 5px">{{field.help_text}}</p>
                                {% endif %} 
        
                                {% for error in field.errors %}
                                    <p class="help is-danger" style="padding-bottom:5px">{{error}}</p>
                                {% endfor %}

                            {% endfor %}

                            <hr>

                            <div>
                                
                                <h3 class="title is-5">Método de pago</h3>

                                <div id='payment-methods-warning' class="notification is-warning is-light">
                                    <p>Introduce tus datos para ver los métodos de pago</p>
                                </div>

                                <div id="payment-methods-selector" class="control">
                                    <label class="radio">
                                      <input type="radio" name="answer" checked>
                                      Tarjeta de crédito o débito (Paypal)
                                    </label>
                                    
                                    <div id="paypal-button-container" class="py-4 has-text-centered"></div>
                                    
                                    <label class="radio">
                                      <input type="radio" name="answer">
                                      Efectivo
                                    </label>
                                </div>

                            </div>

                        </form>


                        <!-- <a id="whatsapp-link" target="_blank" rel="noopener noreferrer" class="button is-fullwidth is-rounded is-success mt-5" disabled="disabled">
                            <span class="icon">
                                <i class="fab fa-lg fa-whatsapp"></i>
                            </span>
                            <span class="has-text-weight-bold">
                                &nbsp;&nbsp;Pedir por WhatsApp
                            </span>
                        </a> -->


                        <a href="{% url 'restaurant' slug %}" class="button is-fullwidth is-rounded is-warning mt-4">
                            <span class="icon">
                                <i class="fas fa-undo-alt"></i>
                            </span>
                            <span>Volver a la tienda</span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- Localito watermark -->
    <section class="has-text-centered py-5">
        Powered by Localito
    </section>

</body>

<footer>
    <!-- <script>
        $(document).ready(function(){

            let orderId = $('#orderInfo').attr('data-orderId');
            let csrf_token = '{{ csrf_token }}';
            let currency = $('html').attr('data-currency');

            $('#id_name, #id_address, #id_notes').keyup(function(e) {
                let len_name = $('#id_name').val().length;
                let len_address = $('#id_address').val().length;
                let name_val = $('#id_name').val();
                let address_val = $('#id_address').val();
                let notes_val = $('#id_notes').val();

                if (len_name != 0 && len_address != 0) {
                    $.ajax({
                        url: '{% url "addDeliveryDetails" %}',
                        type: 'post',
                        data: {
                            'customer_name': name_val,
                            'customer_address': address_val,
                            'notes': notes_val,
                            'csrfmiddlewaretoken': csrf_token,
                            'orderId': orderId,
                        },
                        success: function(response) {
                            $('#whatsapp-link').attr('href', response.whats_url);
                            $('#whatsapp-link').removeAttr('disabled');
                            // $('#submit-button').prop('disabled', false);

                        },

                    });
                    
                };

            });

        });
    </script> -->

    <script>

        $(document).ready(function() {

            function getIp(callback) {
                    fetch('https://ipinfo.io/json?token=ad29c6a41a339b', { headers: { 'Accept': 'application/json' }})
                    .then((resp) => resp.json())
                    .catch(() => {
                        return {
                        country: 'us',
                        };
                    })
                    .then((resp) => callback(resp.country));
                }
                
            const phoneInputField = document.querySelector("#id_phone");
            const phoneInput = window.intlTelInput(phoneInputField, {
                preferredCountries: ['mx','us','co','ar'],
                initialCountry: "auto",
                geoIpLookup: getIp,
                utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });

            let order_total = '{{ order_total }}';
            let csrf_token = '{{ csrf_token }}';
            let orderId = $('#orderInfo').attr('data-orderId');

            let name_val = $('#id_name').val();
            let address_val = $('#id_address').val();
            let notes_val = $('#id_notes').val();

            let payment_element = $('#payment-methods-selector');
            let payment_warning = $('#payment-methods-warning');
            payment_element.addClass('is-hidden');

            function successfull_purchase() {

                redirect_url = ''

                $.ajax({
                            url: '{% url "order-success" %}',
                            type: 'post',
                            data: {
                                'customer_name': name_val,
                                'customer_address': address_val,
                                'notes': notes_val,
                                'csrfmiddlewaretoken': csrf_token,
                                'orderId': orderId,
                                'customer_phone': phoneInput.getNumber,
                            },
                            success: function(response) {
                                redirect_url= response.url
                            }
                        });
                
                return redirect_url;

            };

            paypal.Buttons({
                
                style: {
                    color: 'blue',
                    shape: 'pill',   
                },
                
                onInit: function(data, actions) {
                    // actions.disable();
                },

                // Sets up the transaction when a payment button is clicked
                createOrder: function(data, actions) {
                    
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                            value: order_total // Can reference variables or functions. Example: `value: document.getElementById('...').value`
                            }
                        }],
                    });
                },

                // Finalize the transaction after payer approval
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                    // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        var transaction = orderData.purchase_units[0].payments.captures[0];
                        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                        redirect_url = successfull_purchase()
                        
                        actions.redirect(redirect_url)

                    // When ready to go live, remove the alert and show a success message within this page. For example:
                    // var element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }
                }).render('#paypal-button-container');
                
                $('#id_name, #id_phone').keyup(function(e) {
                        let len_name = $('#id_name').val().length;
                        let valid_number = phoneInput.isValidNumber();
                        // let len_phone = phoneInput.getNumber().length
                        let phone_input = $('#id_phone');
                        let name_input = $('#id_name');

                        if ((len_name > 0) && (valid_number)){
                            // actions.enable();
                            payment_element.removeClass('is-hidden');
                            payment_warning.addClass('is-hidden');
                            phone_input.addClass('is-success');
                            name_input.addClass('is-success')

                        } else {
                            // actions.disable();
                            payment_element.addClass('is-hidden');
                            payment_warning.removeClass('is-hidden');
                            phone_input.removeClass('is-success');
                            name_input.removeClass('is-success');
                        };
                        
                    });

            });

    </script>

</footer>

</html>