{% load static %}

<!DOCTYPE html>

{% autoescape off %}
<html lang="es-mx" data-slug={{ slug }} data-currency={{ currency }}>
{% endautoescape %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | Localito </title>

    <!-- Bulma -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">

    <!-- Style -->
    <link rel="stylesheet" href='{% static "css/restaurant.css" %}'>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Header section -->
    <section class="hero is-primary has-text-centered is-small">
        <div class="hero-body ">
            <div class="container">
                <img src={{ image }} alt="" class="restaurant-img mb-3">
                <h1 class="title is-4">
                    {{ name }}
                </h1>         
            </div>
        </div>
    </section>
    <!-- End Header section -->

    <div class="container has-text-centered py-4 ">
        <div class="columns is-mobile is-vcentered">
            <div class="column">
                <span class="icon is-medium">
                    <i class="fas fa-user-check"></i>
                </span>
                <span>
                    <h2 class="subtitle is-4">
                        Completa tu información
                    </h2>
                </span>
            </div>
        </div>
    </div>

    <section id="orderInfo" class="info is-medium is-fullheight" data-orderId="{{ orderId }}">
        <div class="container">
            <div class="column is-10 is-offset-1">

                <div class="card">
                    <div class="card-content">

                        <form method=post>
                            {% csrf_token %}

                            {% for non_field_error in client_form.non_field_errors %}
                            <div class="notification is-danger">{{ non_field_error }}</div>
                            {% endfor %}

                            {% for non_field_error in order_notes_form.non_field_errors %}
                            <div class="notification is-danger">{{ non_field_error }}</div>
                            {% endfor %}

                            {% for field in client_form %}
                            <div class="field">
                                <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                                {{field}}
                            </div>
    
                                {% if field.help_text %}
                                    <p class="help" style="padding-bottom: 5px">{{field.help_text}}</p>
                                {% endif %} 
        
                                {% for error in field.errors %}
                                    <p class="help is-danger" style="padding-bottom:5px">{{error}}</p>
                                {% endfor %}

                            {% endfor %}

                            {% for field in order_notes_form %}
                            <div class="field">
                                <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                                {{field}}
                            </div>
    
                                {% if field.help_text %}
                                    <p class="help" style="padding-bottom: 5px">{{field.help_text}}</p>
                                {% endif %} 
        
                                {% for error in field.errors %}
                                    <p class="help is-danger" style="padding-bottom:5px">{{error}}</p>
                                {% endfor %}

                            {% endfor %}

                        </form>


                        <a id="whatsapp-link" target="_blank" rel="noopener noreferrer" class="button is-fullwidth is-rounded is-success mt-5" disabled="disabled">
                            <span class="icon">
                                <i class="fab fa-lg fa-whatsapp"></i>
                            </span>
                            <span class="has-text-weight-bold">
                                &nbsp;&nbsp;Pedir por WhatsApp
                            </span>
                        </a>


                        <a href="{% url 'restaurant' slug %}" class="button is-fullwidth is-rounded is-warning mt-4">
                            <span class="icon">
                                <i class="fas fa-undo-alt"></i>
                            </span>
                            <span>Volver a la tienda</span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- Localito watermark -->
    <section class="has-text-centered py-5">
        Powered by Localito
    </section>

</body>

<footer>
    <script>
        $(document).ready(function(){

            let orderId = $('#orderInfo').attr('data-orderId');
            let csrf_token = '{{ csrf_token }}';
            let currency = $('html').attr('data-currency');

            $('#id_name, #id_address, #id_notes').keyup(function(e) {
                let len_name = $('#id_name').val().length;
                let len_address = $('#id_address').val().length;
                let name_val = $('#id_name').val();
                let address_val = $('#id_address').val();
                let notes_val = $('#id_notes').val();

                if (len_name != 0 && len_address != 0) {
                    $.ajax({
                        url: '{% url "addDeliveryDetails" %}',
                        type: 'post',
                        data: {
                            'customer_name': name_val,
                            'customer_address': address_val,
                            'notes': notes_val,
                            'csrfmiddlewaretoken': csrf_token,
                            'orderId': orderId,
                        },
                        success: function(response) {
                            $('#whatsapp-link').attr('href', response.whats_url);
                            $('#whatsapp-link').removeAttr('disabled');
                            // $('#submit-button').prop('disabled', false);

                        },

                    });
                    
                };

            });

        });
    </script>
</footer>

</html>