html,body {
    background: #f3f3f3;
    height: 100%;
}

h1 a {
    color: #EB775C !important;
}

.button.is-primary {
    background-color: #EB775C !important;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.dashnav {
    position: fixed;
    background: rgb(153,51,89);
    background: linear-gradient(302deg, rgba(153,51,89,1) 0%, rgba(235,119,92,1) 74%);    overflow: scroll;
    z-index: 999;
    transition: width 150ms ease;
}

.dashnav-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.dash-item {
    width: 100%;
    transition: 120ms ease;
}

.card {
    border-radius: 10px;
    position: relative;
}

.dash-link svg {
    width: 2rem !important;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: #f3f3f3;
    fill: #f3f3f3;
  }

.dash-link {
    color: #f3f3f3;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 5rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.dash-link:hover svg {
    color: #ffffff;
    fill: #ffffff;
  }

.dash-link:hover {
    color: #ffffff;
}

.dash-item:hover {
    background-color: #673A5F;
}

.dash-item.is-active {
    background-color: #673A5F !important;
}

.thumbnail{
    border-radius: 10px;
}

.is-main-column {
    padding: 0;
}

.card-store {
    padding: 1em;
}

@media only screen and (min-width: 960px) {
    .dashnav {
        width: 5rem;
        height: 100vh;
    }

    main {
        margin-left: 5rem !important;
        padding: 1rem;
        height: 100%;
    }

    .dashnav:hover {
        width: 16rem;
    }

    .dashnav:hover .link-text{
        display: block;
    }

    .dash-item:last-child {
        margin-top: auto;
    }

    .card .level {
    position: absolute;
    bottom: 1em;
    }
    
}

@media screen and (max-width: 960px) {
    .dashnav {
        bottom: 0;
        width: 100vw;
        height: 3.5rem;
    }
    .dashnav-nav {
        flex-direction: row;
    }
    .dash-link {
        justify-content: center;
    }

    .dash-link-label {

        margin: 0;
        padding: 0;
    }

    main {
        margin: 1em;
    }

    .hidden-mobile {
        display: none;
    }

    .is-128x128{
        width: 100px !important;
        height: 100px !important;
    }
}

.level a {
    color: gray;
}

.selector {
    color: #f3f3f3;
    background-image: linear-gradient(0deg, rgba(153,51,89,1) 24%, rgba(235,119,92,1) 51%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  /* <- here it is */

  }

.selector:hover {
    color: white;
    background-color: #EB775C !important;
}

.qr-image {
    width: 400px;
}

.download-qr {
    width: 400px;
    margin-top: 1rem;
}

.has-shadow {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.profile-container{
    width: 180px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.profile-container img{
    width: 100%;
    border-radius: 100%;
    border: 4px solid #EB775C;
}

.profile-container svg {
    width: 50px !important;
    height: 50px;
    min-width: 50px;
    position: absolute;
    bottom: 50px;
    right: 0;   
}

.file-input-hidden {
    display: none;
}

.modal-card-body.no-padding {
    padding: 0 !important;
}

#modalCrop {
    z-index: 1000;
}

/* Make cropper circle */
.cropper-view-box {
	box-shadow: 0 0 0 1px #39f;
	border-radius: 50%;
	outline: 0;
}
.cropper-face {
	background-color:inherit !important;
}
.cropper-view-box {
	outline:inherit !important;
}
