#items li {
    width: 100%;
    background-color: #ffffff;
    margin: 1rem 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}