{% extends 'dashboard/base_dash.html' %}
{% load static %}

{% block title %}
    Mis negocios | Localito
{% endblock title %}


{% block dash_title %}
    Mis negocios
{% endblock dash_title %}


{% block dash_description %}
    <span class="icon is-small">
        <i class="fas fa-hand-point-up"></i>
    </span>

    Haz click para configurar tu negocio
{% endblock dash_description %}


{% block dash_content %}

    
    {% for restaurant_name, details in restaurants.items %}
    <div class="card mb-5" data-slug={{ details.2 }}>
        <div class="card-content card-store">
            <div class="media">

                <div class="media-left">
                    <figure class="image is-128x128">
                    {% if details.0 %}
                        <img src={{ details.0 }} alt="" class="thumbnail">
                    {% else %}
                        <img src={% static 'images/logo-restaurant-default.jpg' %} alt="" class="thumbnail">
                    {% endif %}
                    </figure>
                </div>

                <div class="media-content">
                    <div class="content">
                        <p class="title is-4 mb-2 is-size-5-mobile">{{ restaurant_name }}</p>
                        <p class="mb-2 store-address">{{ details.1 }}</p>
                    </div>
                    
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small">
                                    <i class="fas fa-eye"></i>
                                </span>
                                <span>&nbsp;&nbsp;123&nbsp;</span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                                <span>&nbsp;&nbsp;12</span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small">
                                    <i class="fas fa-percentage"></i>
                                </span>
                                <span>&nbsp;&nbsp;10.2%</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <a href="" class="button is-fullwidth is-primary" style="margin-top: 2rem;">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
        <span>
            Crear una tienda nueva
        </span>
    </a>

    <!-- Store options modal -->
    <div id="restaurant-options" class="modal modal-fx-slideBottom">
        <div class="modal-background"></div>
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->

                <div class="card mb-5">
                    <div class="card-content card-store">
                        <div class="media">

                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img class="thumbnail" src="" alt="" srcset="">
                                </figure>
                            </div>

                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4 mb-2">Mi restaurante</p>
                                    <p class="mb-2 store-address">LAGUNA NORTE 1684, TORREON JARDIN, TORREÓN</p>
                                </div>
                                <br>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-eye"></i>
                                            </span>
                                            <span>&nbsp;&nbsp;123&nbsp;</span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-shopping-cart"></i>
                                            </span>
                                            <span>&nbsp;&nbsp;12</span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-percentage"></i>
                                            </span>
                                            <span>&nbsp;&nbsp;10.2%</span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>

                        <!-- Button section -->

                        <a class="button is-fullwidth selector mb-3">
                            <span class="icon">
                                <i class="fas fa-tags"></i>
                            </span>
                            <span>
                                Editar productos
                            </span>
                        </a>

                        <a class="button is-fullwidth selector mb-3">
                            <span class="icon">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span>
                                Configuración de tienda
                            </span>
                        </a>

                        <a class="button is-fullwidth selector mb-3">
                            <span class="icon">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <span>
                                Editar información de tienda
                            </span>
                        </a>

                        <a id="qr-button" class="button is-fullwidth selector mb-3">
                            <span class="icon">
                                <i class="fas fa-qrcode"></i>
                            </span>
                            <span>
                                Codigo QR
                            </span>
                        </a>

                        <a id="view-button" href="" class="button is-fullwidth selector mb-3" target="_blank">
                            <span class="icon">
                                <i class="fas fa-eye"></i>
                            </span>
                            <span>
                                Ver tienda
                            </span>
                        </a>

                        <a id="share-button" class="button is-fullwidth selector" target="_blank" data-fullurl="">
                            <span class="icon">
                                <i class="fas fa-share-square"></i>
                            </span>
                            <span>
                                Compartir
                            </span>
                        </a>

                        <!-- End Button section -->

                    </div>
                </div>

            </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- End Store options modal -->
    
    <footer>
        <script>
    
            $(document).ready(function() {

                function copyStringToClipboard (str) {
                    // Create new element
                    var el = document.createElement('textarea');
                    // Set value (string to be copied)
                    el.value = str;
                    // Set non-editable to avoid focus and move outside of view
                    el.setAttribute('readonly', '');
                    el.style = {position: 'absolute', left: '-9999px'};
                    document.body.appendChild(el);
                    // Select text inside element
                    el.select();
                    // Copy text to clipboard
                    document.execCommand('copy');
                    // Remove temporary element
                    document.body.removeChild(el);
                }

                let csrf_token = '{{ csrf_token }}';

                $('.card').click(function(e){
                    if (!$(this).closest('.modal').hasClass('is-active')) {
                        let store_name = $(this).find('.title').text()
                        let store_address = $(this).find('.store-address').text()
                        let store_imagge = $(this).find('.thumbnail').attr('src')
                        let store_slug = $(this).attr('data-slug')

                        $('#restaurant-options .title').text(store_name)
                        $('#restaurant-options .store-address').text(store_address)
                        $('#restaurant-options .thumbnail').attr('src', store_imagge)
                        
                        $.ajax({
                            url: '{% url "getModalURL" %}',
                            data: {
                                'store': store_slug,  
                                'csrfmiddlewaretoken': csrf_token,
                            },
                            type: 'get',
                            success: function(response) {
                                $('#view-button').attr('href', response.store_URL)
                                $('#share-button').attr('data-fullurl', response.share_URL)
                                $('#qr-button').attr('href', response.qr_URL)
                            },

                        })
                        $('#restaurant-options').addClass('is-active')
                    }

                });
        
                $('.modal-close, .modal-background').click(function(e){
                    $(this).closest('.modal').removeClass('is-active')
                });

                $('#share-button').click(function(e) {
                    let share_url = $(this).attr('data-fullurl')
                    copyStringToClipboard(share_url)
                    alert('Se ha copiado la dirección de tu tienda al portapapeles')
                });
        
            });
        
        </script>
    </footer>
    
{% endblock dash_content %}
    