{% extends 'account/base_form.html' %}

{% block form_title %}
    Iniciar sesión
{% endblock form_title %}
    

{% block form %}
    <form action="" method="post">
        {% csrf_token %}

        {% for non_field_error in login_form.non_field_errors %}
        <div class="notification is-danger">{{ non_field_error }}</div>
        {% endfor%}
        
        {% for field in login_form %}

        <div class="field">
            <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
            {{field}}
        </div>

        {% if field.help_text %}
        <p class="help" style="padding-bottom: 5px">{{field.help_text}}</p>
        {% endif %} 

        {% for error in field.errors %}
        <p class="help is-danger" style="padding-bottom:5px">{{error}}</p>
        {% endfor %}

        {% endfor %}
            

        <div class="control py-4">
            <button class="button is-primary is-fullwidth" type='submit'>
                <span>
                    Iniciar sesión
                </span>
                <span class="icon is-medium">
                    <i class="fas fa-sign-in-alt"></i>
                </span>
            </button>
        </div>
        
    </form>
{% endblock form %}

{% block form_footer %}
    <p class="has-text-centered">
        ¿Aún no tienes una cuenta? <a href={% url 'register' %}>Crear una cuenta</a>
    </p>
{% endblock form_footer %}

    